{% extends 'frame.html' %}

{% block j_title %}
<title>Homepage</title>
{% endblock %}

{% block header %}
<!-- Page Header -->
<header class="masthead" id="home">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <div id="logo">
            <form action="{{ url_for('route_root') }}">
              <button type="submit" id="logo-a"></button>
            </form>
          </div>
          <span class="subheading">
            <form id="search-form" action="/getresults">
              <input type="text" class="form-control" placeholder="Enter search here..." id="search-term" name="search-term" required/>
              <div class="form-group">
                <label for="search-dest">Search Destination: </label>
                <select class="form-control" id="search-dest" name="search-dest">
                  <option value="tastedive">Tastedive</option>
                  <option value="google">Google</option>
                  <option value="youtube">YouTube</option>
                  <option value="news">News</option>
                </select>
              </div>
              <button type="submit" class="btn btn-success"><i class="fa fa-search fa-lg"></i> Search!</button>
            </form>
          </span>
        </div>
      </div>
    </div>
  </div>
</header>
{% endblock %}
